body {
    font-family: 'Roboto', sans-serif;
    max-width: 80%;

    margin: auto;
    line-height: 30px;
}

span {
    color: rgb(206, 0, 0);
    font-weight: bold;
}

h2 {
    font-size: 1.15rem;
    color: rgb(206, 0, 0);
    font-weight: bold;
}